body{
    font-size:  100%;
    font-family: fantasy;
    background-color: black;
    color: white;

}
h1{
    text-align: center;
}
img{
    width:60px;
    height:80px;
}
#winner{
    font-size: 300%;
    color:red;
}
